<ion-view>
  <ion-nav-title>{{feedTitle}}</ion-nav-title>
  <ion-content overflow-scroll="false">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list >
      <ion-item collection-repeat="entry in entries"
                item="entry"
                href="#/app/entry-list/{{feedId}}/entry-preview/{{entry.id}}"
                class="item-remove-animate item"
        style="white-space: nowrap">
        <div style="display: inline-block; float:left;" >
          <img style="width: 50px; height: 50px;object-fit: cover" ng-src="{{entry.thumbUrl}}"/>
        </div>
        <div style="display: inline-block; float:left" class="padding" >
          <h2>Item {{entry.title}}</h2>
        </div>
        <div style="display: inline-block; float:right">
          <p>
            <span am-time-ago="entry.pubDate"></span>
          </p>
        </div>
        <ion-option-button class="button-calm" ng-click="share(entry)">
          Share
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>

    </ion-list>

    <div class="card" ng-show="entries.length == 0">
      <div class="item item-text-wrap text-center">
        <h2>No entries in the feed!</h2>
      </div>
    </div>
    <!--<ion-infinite-scroll on-infinite="loadMore()" distance="1%"/>-->
  </ion-content>
</ion-view>
