<ion-view view-title="{{::entries[entryId].title}}" >
  <ion-content class="padding">

    <div class="list card">
      <div class="item text-center">
        <h1>{{entries[entryId].title}}</h1>
      </div>
      <div class="item item-body">
        <p>
          <ion-scroll zooming="true" direction="xy" style="max-height:100vh;overflow: auto" scrollbar-x="scroll" >
            <div
              ng-bind-html="entries[entryId].encoded ? entries[entryId].encoded : entries[entryId].description" />
          </ion-scroll>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i> Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i> Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i> Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
