<ion-view view-title="preview" >
  <ion-content class="padding" overflow-scroll="false">
    <div class="list card">
      <div class="item text-center">
        <h1>{{entries[feedId].title}}</h1>
      </div>
      <div class="item item-body">
        <p>
        <div class="text-center" ng-bind-html="entries[feedId].description"/>
        <div class="text-center">
          <h2>Partly Sunny</h2>
        </div>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i> Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i> Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i> Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
